<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244156996836-79kchr7r10f2qnqln9b81v58dnmg38li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244156996836-79kchr7r10f2qnqln9b81v58dnmg38li</string>
	<key>API_KEY</key>
	<string>AIzaSyAqhm1ZBFwkaVulrjJz8UVyQl7Kuwe6AkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>244156996836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.skyface753.skynote</string>
	<key>PROJECT_ID</key>
	<string>skynte-fcbcd</string>
	<key>STORAGE_BUCKET</key>
	<string>skynte-fcbcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244156996836:ios:04594a0aa860ca0dfb20f1</string>
</dict>
</plist>